#root {
  margin: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.sidebar {
  background-color: aliceblue;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar-item {
  margin: 20px;
  padding: auto;
}

p {
  color: aquamarine;
}
